/*
──────────────────────────────────────────────────────────────────
   SUBSECTION: H1-H3 Drop Shadow
──────────────────────────────────────────────────────────────────

   * Applies a drop shadow effect to headers H1-H3 for enhanced

   * visual impact. Credit to Nick Milo's LYT theme.

──────────────────────────────────────────────────────────────────
*/

:root {
    --header-shadow-size: 0px 5px 3px;
    --header-shadow-color: rgb(31, 31, 31);
}

.cm-header-1,
.markdown-preview-view h1,
.markdown-preview-view h1 code {
    filter: drop-shadow(var(--header-shadow-size) var(--header-shadow-color));
}

.cm-header-2,
.markdown-preview-view h2,
.markdown-preview-view h2 code {
    filter: drop-shadow(var(--header-shadow-size) var(--header-shadow-color));
}

.cm-header-3,
.markdown-preview-view h3,
.markdown-preview-view h3 code {
    filter: drop-shadow(var(--header-shadow-size) var(--header-shadow-color));
}
